:root {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  --accent-color: #1100ee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: calc(100vw - 10vmin);
}

h2 {
  font-size: 2.9rem;
}

h3 {
  color: var(--accent-color);
  font-size: 2.1rem;
  margin-top: 5vmin;

  &::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: 40vw;
    height: 1px;
    box-shadow: 0 0 1px var(--accent-color);
    position: relative;
    left: 0;
    bottom: 5px;
  }
}

h2,
h3 {
  font-family: "Domine", serif;
  font-weight: normal;
}

figcaption {
  font-size: 0.75rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vmin;

  nav {
    display: none;
  }
}

main {
  padding: 5vmin;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

#store li {
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  flex: 1 1 auto;
  font-size: 0.89rem;
  font-weight: bold;
  margin: 1vmin;

  a {
    text-decoration: none;
    color: var(--color);

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1vmin 1.89vmin;
      margin-top: -1vmin;
    }

    img {
      border-radius: 8px 8px 0 0;
      height: auto;
      width: auto;
      object-fit: cover;
    }
  }
}
