body {
  background-color: darkslategray;
  color: white;
  display: grid;
  grid-template-areas:
    "gf gl"
    "sf sl";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

form,
label {
  display: flex;
  flex-direction: column;
}

#gallery-form {
  grid-area: gf;
}

#gallery-list {
  grid-area: gl;
  border: 3px dotted white;
}

#gallery-list img {
  width: 100px;
}

#gallery-list div {
  display: flex;
}

#gallery-list div div {
  flex-direction: column;
}

#store-form {
  grid-area: sf;
}

#store-list {
  grid-area: sl;
  border: 3px dotted white;
}
